@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HurmeGeometricSans";
  src: url("https://www.soprasteria.com/ResourcePackages/Bootstrap4/assets/dist/fonts/HurmeGeometricSans4-Regular.3b19457.woff2");

  @font-face {
    font-family: "HurmeGeometric";
    src: url("https://www.soprasteria.com/ResourcePackages/Bootstrap4/assets/dist/fonts/HurmeGeometricSans4-Bold.0a9219e.woff2");
  }
}

